#Hardhat files
cache
artifacts

# typechain
typechain

# ignore ide files
.devcontainer
.vscode

# ignore packages
vendor
node_modules

# secrets
*.txt

# test files
.phpunit.result.cache
*.bak
*.bk
*.cache